html {
    font-size: 15px;
    position: relative;
}

div.modalDialog {
    border: 1px solid black;
    z-index: 9999;
    display: none;
}

div.daterange {
    float: right;
}

h1 {
    font-size: 2rem;
    float: left;
}

h2 {
    text-align: center;
    color: #22359e;
}

#closeDialogTitle {
    float: right;
    padding-top: 1%
}