ul {
	list-style-type: none;
}

div.modalDialog {
	border: 1px solid black;
	z-index: 9999;
	display: none;
}
input {	border: 0px solid black;}

h2 {
	font-family: "Times New Roman";
	text-align: center;
	color: #22359e;
}